<!-- This file contains the header and footer of the site -->

<html>
<head>
   <!-- The param which is passed from render-->
   <title> <%= title %> </title>
    <link rel="stylesheet" type="text/css" href="./css/results.css">
</head>
<body>
<h1><%= title %></h1>